* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

::-webkit-scrollbar {
  display: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 40em) {
    html {
      font-size: 50%; } }

body {
  color: #01162c;
  font-family: "SF Display", sans-serif;
  font-weight: 400;
  min-height: 100vh; }

.container {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 64em) {
    .container {
      width: 90%; } }
  @media only screen and (max-width: 40em) {
    .container {
      width: 95%; } }

main {
  overflow-x: hidden; }

.header {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #153557, #01162c); }

@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("/media/Fonts/SF-Pro-Display-Bold.otf"); }

@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("/media/Fonts/SF-Pro-Display-Medium.otf"); }

@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("/media/Fonts/SF-Pro-Display-Regular.otf"); }

@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url("/media/Fonts/SF-Pro-Display-Light.otf"); }

.navbar {
  display: flex;
  align-items: center;
  height: 10rem;
  color: #fff;
  justify-content: space-between; }
  .navbar__logo {
    font-size: 2.5rem;
    font-weight: 700;
    transition: all 0.2s; }

@keyframes bounce {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
    .navbar__logo--link, .navbar__logo--link:active, .navbar__logo--link:visited {
      color: white;
      text-decoration: none;
      transform: scale(1.1);
      color: white;
      text-decoration: none;
      padding: 0.5rem 1.5rem;
      position: relative;
      z-index: 5;
      transition: all 0.4s; }
    .navbar__logo--link:hover {
      color: #01162c;
      transform: translateY(-2px); }
    .navbar__logo--link::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 10%;
      height: 100%;
      transform: skewX(10deg);
      background: linear-gradient(to left, white 0%, transparent 0%) no-repeat;
      background-size: 0%;
      background-position: 50%;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      transition: background 0.4s, width 0.2s 0.2s; }
    .navbar__logo--link:hover::before {
      opacity: 1;
      visibility: visible;
      width: 100%;
      background: linear-gradient(to left, white 100%, transparent 0%) no-repeat;
      background-size: 100%;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
    .navbar__logo--text {
      margin: 0;
      padding: 0;
      line-height: 1.6rem; }
  .navbar__nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative; }
    .navbar__nav--link, .navbar__nav--link:active, .navbar__nav--link:visited {
      color: white;
      text-decoration: none;
      padding: 0.5rem 1.5rem;
      position: relative;
      z-index: 5;
      transition: all 0.4s; }
      .navbar__nav--link:not(:last-child), .navbar__nav--link:active:not(:last-child), .navbar__nav--link:visited:not(:last-child) {
        margin-right: 3.5rem; }
        @media only screen and (max-width: 64em) {
          .navbar__nav--link:not(:last-child), .navbar__nav--link:active:not(:last-child), .navbar__nav--link:visited:not(:last-child) {
            margin-right: 1rem; } }
        @media only screen and (max-width: 53.12em) {
          .navbar__nav--link:not(:last-child), .navbar__nav--link:active:not(:last-child), .navbar__nav--link:visited:not(:last-child) {
            margin-right: 0.2rem; } }
    .navbar__nav--link:hover {
      color: #01162c;
      transform: translateY(-2px); }
    .navbar__nav--link:hover::before {
      opacity: 1;
      visibility: visible;
      background: linear-gradient(to left, white 100%, transparent 0%) no-repeat;
      background-size: 100%;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
    .navbar__nav--link::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: skewX(10deg);
      background: linear-gradient(to left, white 0%, transparent 0%) no-repeat;
      background-size: 0%;
      background-position: 0px 0px;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      opacity: 1;
      visibility: visible;
      transition: all 0.4s; }
    .navbar__nav--link:active {
      transform: translateY(1px); }

.intro {
  overflow: hidden;
  height: calc(100vh - 10rem);
  display: flex;
  position: relative; }
  .intro__shape {
    width: 5rem;
    height: 5rem;
    position: absolute; }
  .intro__img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative; }
    @media only screen and (orientation: portrait) {
      .intro__img {
        position: absolute;
        right: 15px;
        bottom: 0;
        width: 80%; } }
    @media only screen and (max-width: 40em) and (orientation: portrait) {
      .intro__img {
        position: absolute;
        right: 15px;
        bottom: 0;
        width: 100%; } }
    @media only screen and (max-width: 64em) and (orientation: landscape) {
      .intro__img {
        width: 80%; } }
    .intro__img--container {
      width: 90%;
      height: 100%;
      display: flex;
      z-index: 999; }
      @media only screen and (max-width: 68.5em) and (orientation: landscape) {
        .intro__img--container {
          width: 100%; } }
      @media only screen and (max-width: 40em) and (orientation: portrait) {
        .intro__img--container {
          width: 100%; } }
      .intro__img--container img {
        width: 100%;
        object-fit: contain;
        object-position: bottom; }
        @media only screen and (max-width: 40em) and (orientation: portrait) {
          .intro__img--container img {
            width: 150%; } }
  .intro__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; }
    @media only screen and (orientation: portrait) {
      .intro__text {
        position: absolute;
        left: 10%;
        top: 15%;
        width: 80%; } }
    @media only screen and (max-width: 40em) and (orientation: portrait) {
      .intro__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 9999;
        position: static;
        align-items: center;
        width: 100%; } }
    .intro__text__container {
      position: absolute;
      top: 30%;
      color: #fff; }
      @media only screen and (max-width: 40em) and (orientation: portrait) {
        .intro__text__container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          top: 0%;
          position: static;
          background: linear-gradient(to right bottom, #01162c, #153557);
          padding: 1rem;
          animation: introHeadingBg 0.3s ease-out forwards;
          background-position: left;
          transition: all 1s;
          width: 0%; }
        @keyframes introHeadingBg {
          to {
            width: 80%; } }
          .intro__text__container > * {
            opacity: 0;
            visibility: hidden;
            animation: headingFadeIn 0.2s 0.3s ease-in-out forwards; }
        @keyframes headingFadeIn {
          to {
            opacity: 1;
            visibility: visible; } } }
    .intro__text--heading {
      font-size: 8rem;
      font-weight: 700; }
      @media only screen and (max-width: 64em) {
        .intro__text--heading {
          font-size: 5rem; } }
      @media only screen and (max-width: 64em) and (orientation: portrait) {
        .intro__text--heading {
          font-size: 7rem; } }
      @media only screen and (max-width: 53.12em) and (orientation: landscape) {
        .intro__text--heading {
          font-size: 4rem; } }
    .intro__text--sub-heading {
      font-size: 5rem;
      font-weight: 300;
      margin-left: 3rem; }
      @media only screen and (max-width: 64em) {
        .intro__text--sub-heading {
          font-size: 2.5rem; } }
      @media only screen and (max-width: 64em) and (orientation: portrait) {
        .intro__text--sub-heading {
          font-size: 5rem; } }
      @media only screen and (max-width: 53.12em) and (orientation: landscape) {
        .intro__text--sub-heading {
          font-size: 2rem; } }
      @media only screen and (max-width: 53.12em) and (orientation: portrait) {
        .intro__text--sub-heading {
          font-size: 4rem; } }

#intro_triangle {
  width: 30rem;
  height: 30rem;
  top: 25%;
  left: 15%;
  transform: rotateZ(70deg);
  transform-origin: center center;
  opacity: 0.2;
  z-index: 999999; }
  @media only screen and (orientation: portrait) {
    #intro_triangle {
      top: 80%;
      left: -30rem; } }
  @media only screen and (max-width: 40em) and (orientation: portrait) {
    #intro_triangle {
      top: 0%;
      left: -5rem;
      width: 15rem;
      height: 15rem; } }

#intro_triangle2 {
  width: 25vw;
  height: 25vw;
  bottom: -20vh;
  right: -15vw;
  transform: rotateZ(95deg);
  transform-origin: center center;
  opacity: 0.4; }
  @media only screen and (orientation: portrait) {
    #intro_triangle2 {
      width: 15vw;
      height: 15vw;
      bottom: -5rem;
      right: 4rem; } }
  @media only screen and (max-width: 40em) and (orientation: portrait) {
    #intro_triangle2 {
      width: 5vw;
      height: 5vw;
      bottom: 60vh;
      right: 90vw;
      opacity: 1; } }

#intro_circle {
  width: 25vw;
  height: 25vw;
  top: 33vh;
  right: 1vw;
  max-width: 35rem;
  max-height: 35rem;
  opacity: 0.1; }
  @media only screen and (orientation: portrait) {
    #intro_circle {
      width: 45rem;
      height: 45rem;
      top: 47vh;
      right: -1rem; } }
  @media only screen and (max-width: 40em) and (orientation: portrait) {
    #intro_circle {
      width: 100vw;
      height: 100vw;
      max-width: 1000rem;
      max-height: 1000rem;
      top: 0vh;
      right: -10rem; } }

#intro_circle2 {
  width: 15vw;
  height: 15vw;
  top: 5vh;
  right: -3vw;
  max-width: 35rem;
  max-height: 35rem;
  opacity: 0.4; }
  @media only screen and (orientation: portrait) {
    #intro_circle2 {
      width: 15vw;
      height: 15vw;
      top: 30vh;
      right: 105%; } }

#intro_cross {
  width: 5vw;
  height: 5vw;
  top: 55vh;
  right: 15vw;
  transform: rotateZ(15deg);
  max-width: 7rem;
  max-height: 7rem;
  opacity: 1; }
  @media only screen and (orientation: portrait) {
    #intro_cross {
      width: 15vw;
      height: 15vw;
      top: 55vh;
      right: 90%; } }
  @media only screen and (max-width: 40em) and (orientation: portrait) {
    #intro_cross {
      width: 5vw;
      height: 5vw;
      top: 25vh;
      right: 60%;
      opacity: 0.2; } }

#intro_cross2 {
  width: 2.5vw;
  height: 2.5vw;
  top: 35%;
  right: 15vw;
  transform: rotateZ(55deg);
  max-width: 3rem;
  max-height: 3rem;
  opacity: 0.1; }
  @media only screen and (orientation: portrait) {
    #intro_cross2 {
      width: 5vw;
      height: 5vw;
      top: 5vh;
      right: 0%;
      opacity: 1; } }

#intro_cross3 {
  width: 4vw;
  height: 4vw;
  bottom: 0vw;
  left: 15vw;
  transform: rotateZ(10deg);
  max-width: 5rem;
  max-height: 5rem;
  z-index: 9999999;
  width: 5vw; }

#intro_square {
  width: 15vw;
  height: 15vw;
  bottom: -10vh;
  left: 5vw;
  transform: rotateZ(40deg);
  max-width: 25rem;
  max-height: 25rem;
  opacity: 0.25; }
  @media only screen and (orientation: portrait) {
    #intro_square {
      width: 5vw;
      height: 5vw;
      bottom: -20vh;
      left: 20%; } }
  @media only screen and (max-width: 40em) and (orientation: portrait) {
    #intro_square {
      width: 50vw;
      height: 50vw;
      bottom: -10vh;
      left: -10%; } }

.skills {
  margin-top: 10rem; }
  .skills__heading {
    font-size: 6rem;
    margin-left: calc(10% + 3rem);
    display: block;
    position: relative; }
    @media only screen and (max-width: 53.12em) {
      .skills__heading {
        margin-left: 2rem; } }
  .skills__heading::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 100vw;
    transform: translateX(20vw);
    height: 4px;
    left: 0;
    background-color: black; }
    @media only screen and (max-width: 53.12em) {
      .skills__heading::after {
        transform: translateX(30vw); } }
  .skills__container {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 5rem auto; }
    @media only screen and (max-width: 68.5em) {
      .skills__container {
        width: 90%; } }
    @media only screen and (max-width: 53.12em) {
      .skills__container {
        margin: 3rem auto; } }

.skill {
  width: 33.33333333333333%;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 53.12em) {
    .skill {
      padding: 0 1rem; } }
  @media only screen and (max-width: 40em) {
    .skill {
      width: 50%; } }
  .skill__icon {
    font-size: 4rem;
    margin-bottom: 2rem; }
  .skill img {
    margin-bottom: 2rem;
    height: 4rem; }
  .skill__name {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 2rem;
    color: #01162c; }
  .skill__description {
    color: #a5a5a5;
    font-weight: 500;
    padding-right: 4rem;
    font-size: 1.6rem; }
    @media only screen and (max-width: 68.5em) {
      .skill__description {
        padding-right: 2rem; } }
    @media only screen and (max-width: 64em) {
      .skill__description {
        padding-right: 1rem; } }

.portfolio {
  margin: 5rem auto; }
  .portfolio__load-more {
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 1.5rem 4rem;
    font-weight: 700;
    border: 3px solid #01162c;
    color: #01162c;
    outline: none;
    cursor: pointer;
    transition: all 0.2s; }
    .portfolio__load-more:hover {
      background: #153557;
      color: #fff; }
  .portfolio__heading {
    font-size: 9rem;
    display: block;
    position: relative;
    text-align: right;
    font-weight: 700; }
  .portfolio__heading::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 65vw;
    transform: translateX(-50%);
    height: 4px;
    left: 0;
    background-color: black; }
  .portfolio__container {
    margin-top: 10rem;
    display: grid;
    grid-template-rows: repeat(2, minmax(15rem, 25rem));
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 5rem;
    grid-column-gap: 3rem; }
  .portfolio__container.loaded {
    grid-template-rows: repeat(6, minmax(15rem, 25rem)); }
  .portfolio__text {
    padding: 3rem;
    grid-row: 1/2;
    grid-column: 1/3; }
    .portfolio__text--heading {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 1rem; }
    .portfolio__text--description {
      font-size: 1.6rem;
      font-weight: 500; }
  .portfolio__item {
    display: grid;
    grid-template-columns: repeat(3, 33.33333%);
    grid-template-rows: 100%;
    box-shadow: 0.3rem 2rem 1rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: all 0.2s; }
    .portfolio__item:hover {
      transform: scale(1.03); }
    .portfolio__item--description {
      grid-row: 1/-1;
      grid-column: 1/2;
      background: #01162c;
      color: #fff;
      padding: 2rem;
      padding-top: 3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between; }
      .portfolio__item--description-client {
        border-bottom: 1px solid #fff;
        display: block;
        padding: 2rem 0;
        width: 100%;
        font-size: 1.4rem;
        font-weight: 500; }
      .portfolio__item--description-title {
        font-size: 2rem; }
      .portfolio__item--description-button {
        padding: 1.5rem 4rem;
        color: #fff;
        background: none;
        border: 3px solid #fff;
        outline: none;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer; }
        .portfolio__item--description-button:hover {
          background-color: #153557; }
    .portfolio__item--photo {
      grid-row: 1/-1;
      grid-column: 2/-1;
      display: flex;
      overflow: hidden;
      transition: all 0.4s;
      position: relative; }
      .portfolio__item--photo:hover img {
        transform: scale(1.1); }
      .portfolio__item--photo img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        transition: all 0.4s; }
  .portfolio__item-1 {
    grid-row: 1/2;
    grid-column: 3/-1; }
  .portfolio__item-2 {
    grid-row: 2/3;
    grid-column: 1/5;
    grid-template-columns: repeat(2, 50%); }
  .portfolio__item-3 {
    grid-row: 2/3;
    grid-column: 5/-1;
    grid-template-columns: repeat(2, 50%); }
  .portfolio__item-4 {
    grid-row: 3/5;
    grid-column: 1/4;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: 100%;
    display: none; }
    .portfolio__item-4 .item-4 {
      grid-row: 2/3; }
    .portfolio__item-4 .item-4p {
      grid-row: 1/2;
      grid-column: 1/2; }
  .portfolio__item-5 {
    grid-row: 3/4;
    grid-column: 4/-1;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 33.33333%);
    display: none; }
    .portfolio__item-5 .item-5 {
      grid-row: 1/2;
      grid-column: 3/4; }
    .portfolio__item-5 .item-5p {
      grid-row: 1/2;
      grid-column: 1/3; }
  .portfolio__item-6 {
    grid-row: 4/5;
    grid-column: 4/-1;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 33.33333%);
    display: none; }
    .portfolio__item-6 .item-6 {
      grid-row: 1/2;
      grid-column: 3/5; }
    .portfolio__item-6 .item-6p {
      grid-row: 1/2;
      grid-column: 1/3; }
  .portfolio__item-7 {
    grid-row: 5/6;
    grid-column: 1/7;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 33.33333%);
    display: none; }
    .portfolio__item-7 .item-6 {
      grid-row: 1/2;
      grid-column: 1/2; }
    .portfolio__item-7 .item-6p {
      grid-row: 1/2;
      grid-column: 2/5; }
  .portfolio__item-8 {
    grid-row: 5/6;
    grid-column: 7/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    background: linear-gradient(to right bottom, #01162c, #153557); }
    .portfolio__item-8--link, .portfolio__item-8--link:visited, .portfolio__item-8--link:active {
      text-align: center;
      color: #fff;
      text-decoration: none;
      font-size: 10vw;
      transition: all 0.2s; }
      .portfolio__item-8--link h3, .portfolio__item-8--link:visited h3, .portfolio__item-8--link:active h3 {
        font-size: 2rem; }
    .portfolio__item-8--link:hover {
      transform: scale(1.2); }

.about {
  width: 100vw;
  position: relative;
  overflow: hidden;
  margin-top: 15rem; }
  .about__container {
    display: flex;
    padding-top: 10rem; }
  .about__photo {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    flex-direction: column;
    align-items: flex-end; }
    .about__photo--container {
      height: 50rem;
      z-index: 999999999; }
      .about__photo--container img {
        height: 100%; }
  .about__text {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative; }
    .about__text--container {
      padding: 0 2rem;
      margin: 0 auto;
      width: 70%;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      z-index: 9999999; }
    .about__text--heading {
      font-size: 5rem;
      font-weight: 700;
      margin-bottom: 2rem; }
    .about__text--description {
      font-size: 1.6rem;
      font-weight: 400;
      width: 80%; }
  .about__shape {
    width: 10rem;
    height: 10rem;
    position: absolute; }

#about_square {
  width: 15rem;
  height: 15rem;
  transform-origin: center center;
  transform: rotateZ(55deg);
  top: 25rem;
  left: -10rem; }

#about_square2 {
  width: 20rem;
  height: 20rem;
  transform-origin: center center;
  transform: rotateZ(35deg);
  bottom: 2rem;
  right: -12rem; }

#about_cross {
  width: 8rem;
  height: 8rem;
  bottom: 20%;
  left: 10%; }

#about_circle {
  top: -7vh;
  right: -1vw;
  width: 35rem;
  height: 35rem;
  z-index: 1; }

#about_arrow {
  width: 5rem;
  height: 5rem;
  bottom: 24rem;
  right: -7rem; }

#about_triangle {
  width: 20rem;
  height: 20rem;
  bottom: -10rem;
  left: 0;
  transform: rotateZ(20deg); }

#about_triangle2 {
  width: 10rem;
  height: 10rem;
  top: 5rem;
  right: 10rem;
  transform: rotateZ(-20deg); }

.footer {
  background: #ebebeb; }
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__contacts--container {
    display: flex;
    flex-direction: row; }
  .footer__contacts--heading {
    font-size: 2.5rem;
    padding: 7.5rem 0;
    padding-top: 15rem;
    text-align: center;
    font-weight: 400; }
  .footer__contacts--contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem; }
  .footer__contacts--icon {
    width: 4rem;
    height: 4rem;
    color: #fff;
    font-size: 2rem;
    border-radius: 50%;
    background-color: #01162c;
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer__contacts--text {
    font-size: 1.6rem;
    margin-top: 1rem; }
  .footer__legal {
    text-align: center;
    font-size: 1.6rem;
    color: #a5a5a5;
    position: relative;
    padding: 2rem;
    width: 100%;
    margin-top: 5rem;
    border-top: 1px solid #a5a5a5; }
    .footer__legal--logo {
      width: 6rem;
      height: 6rem;
      position: absolute;
      right: 0;
      top: 0; }
