* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    color: $color-blue-primary;
    font-family: "SF Display", sans-serif;
    font-weight: 400;

    min-height: 100vh;
}