.skills {
    margin-top: 10rem;

    &__heading {
        font-size: 6rem;
        margin-left: calc(10% + 3rem);
        display: block;
        position: relative;

        @media only screen and (max-width:$bp-mds) {
            margin-left: 2rem;
        }
    }

    &__heading::after {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        width: 100vw;
        transform: translateX(20vw);
        height: 4px;
        left: 0;
        background-color: black;

        @media only screen and (max-width:$bp-mds) {
            transform: translateX(30vw);
        }

    }

    &__container {
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 70%;
        margin: 5rem auto;

        @media only screen and (max-width:$bp-lg) {
            width: 90%;
        }

        @media only screen and (max-width:$bp-mds) {
            margin: 3rem auto;
        }
    }
}

.skill {
    width: 33.33333333333333%;
    margin-bottom: 3rem;

    @media only screen and (max-width:$bp-lg) {}

    @media only screen and (max-width:$bp-mds) {
        padding: 0 1rem;
    }

    @media only screen and (max-width:$bp-sm) {
        width: 50%;
    }

    &__icon {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    img {
        margin-bottom: 2rem;
        height: 4rem;
    }

    &__name {
        margin-bottom: 1rem;
        font-weight: 700;
        font-size: 2rem;
        color: $color-blue-primary;
    }

    &__description {
        color: $color-gray;
        font-weight: 500;
        padding-right: 4rem;
        font-size: 1.6rem;

        @media only screen and (max-width:$bp-lg) {
            padding-right: 2rem;
        }

        @media only screen and (max-width:$bp-md) {
            padding-right: 1rem;
        }
    }

}