.purple {
    fill: $rect-purple-color !important;
}

.yellow {
    fill: $triangle-yellow-color !important;
}

.blue {
    fill: $triangle-blue-color !important;
}

.green {
    fill: $rect-green-color !important;
}

.red {
    fill: $cross-red-color !important;
}