// Colors
$color-blue-primary : #01162c;
$color-blue-primary-light : #153557;

$footer-bg : #ebebeb;

$color-white : #fff;
$color-gray : #a5a5a5;
// Shape colors
$triangle-yellow-color : #ffae00;
$triangle-blue-color : #2475b9;
$rect-purple-color : #9824b9;
$rect-green-color : #a2b924;
$cross-red-color : #b92444;


$bp-lg: 68.5em; // 1100px
$bp-md : 64em; // 1024px
$bp-mds : 53.12em; // 850px
$bp-sm : 40em // 650px